<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content"><h2>About Us</h2>
    <p>This blog is your one-stop shop for your personal blogging. Whether you're a seasoned pro or just starting out, we're here to share our knowledge, experiences, and a healthy dose of fun along the way.</p>
    <p>Expect to find a variety of engaging content on this blog, including: </p>
    <p>In-depth articles: We dive deep into the topics that matter, providing actionable advice and insights you can use in your own life.</p>
    <p> Listicles and guides: Sometimes, quick and easy-to-digest information is what you need. We've got you covered with clear, concise guides and handy listicles.</p>
    <p> Personal stories and experiences: We believe in connecting with our readers on a personal level. We share our own stories and experiences to show you that you're not alone in your journey.</p>
    <h3>;)</h3>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

<%- include("./partials/script.ejs") %>
</html>